#root {
  display: flex;
}

body,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  width: 300px;
}

.general-inputs,
.education-inputs,
.experience-inputs,
.others-input {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.buttons-wrapper {
  display: flex;
  gap: 5px;
}

button {
  cursor: pointer;
}

.clear-button,
.add-button,
.return-button {
  background: none;
  border: none;
  padding: 0;
}

.elements-wrapper {
  display: flex;
  align-items: center;
  flex: 3;
}

.clear-button > svg,
.add-button > svg,
.return-button > svg {
  width: 20px;
  height: 20px;
}

.append-wrapper {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.add-button {
  flex: 0 0 24px;
}

.input-description {
  flex: 1;
}
