:root {
  --main-font: Wotfard, sans-serif, Arial;
}

html,
body {
  font-family: var(--main-font);
}

* {
  font-family: inherit;
}

#root {
  display: flex;
  background-color: #030512;
}

body,
fieldset {
  margin: 0;
  padding: 0;
}

.display-column {
  margin: 20px 100px;
}

fieldset {
  width: 100px;
  padding: 5px 10px;
  margin: 20px;
  border-radius: 15px 25px;
}

.general-inputs,
.education-inputs,
.experience-inputs,
.others-input {
  display: flex;
  flex-direction: column;
  width: 300px;
}

textarea {
  resize: vertical;
  background-color: hsl(217, 40%, 30%);
  color: white;
}

input {
  background-color: hsl(217, 40%, 30%);
  color: white;
}

.buttons-wrapper {
  display: flex;
  justify-content: end;
  gap: 5px;
  margin-top: 10px;
}

button {
  cursor: pointer;
}

.clear-button,
.return-button,
.svg-plus-button {
  background: none;
  border: none;
  padding: 0;
}

.svg-plus-button,
.return-button {
  transition: transform 200ms ease;
}

.return-button:hover {
  transform: translateX(-1.5px);
}

.svg-plus-button:hover {
  transform: translateY(2px);
}

.add-button {
  margin-left: 5px;
  background-color: whitesmoke;
  transition: transform 250ms ease-in-out, background-color 200ms ease;
  border-radius: 5px;
  border: none;
}

.add-button:hover {
  background-color: white;
  transform: scale(1.05);
}

.add-button:active {
  background-color: lightgreen;
}

.elements-wrapper {
  display: flex;
  align-items: center;
  flex: 3;
}

.clear-button > svg,
.svg-plus-button > svg,
.return-button > svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.return-button {
  display: flex;
}

.clear-button {
  transition: transform 150ms ease;
}

.clear-button:hover {
  transform: skewY(-5deg) scaleY(1.3);
}

.append-wrapper {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.add-button {
  flex: 0 0 24px;
}

.input-description {
  flex: 1;
  color: whitesmoke;
  margin: 10px 0;
  font-weight: bold;
}

.preview {
  display: flex;
  gap: 20px;
  border: 1px solid white;
  background-color: white;
  filter: brightness(93%);
  width: 55vw;
  height: fit-content;
  margin-top: 2.6rem;
  border-radius: 10px 60px;
  position: sticky;
  top: 1.5rem;
  align-self: flex-start;
  padding: 20px 0 20px 35px;
}

.details-left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: hsl(16, 100%, 95%);
  filter: grayscale(80%);
  padding-top: 10px;
}

.details-right-side {
  flex: 4;
}

#profile-name {
  display: block;
  text-align: right;
  margin-right: 80px;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: roboto;
  text-shadow: 0px 0px 2px blue;
}

.skills-info,
.languages-info {
  list-style-position: inside;
  margin: 0;
  padding: 0 0 0 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-details,
.language-details,
.personal-details {
  font-size: 1rem;
}

.main-header {
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: underline;
}

.matching-semicolons {
  font-size: 1.3rem;
}

.secondary-header {
  font-size: 1rem;
  font-weight: normal;
}

.others-line {
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 7px;
  margin-left: 5px;
  text-decoration: underline;
}

.others-wrapper {
  margin-top: 15px;
}

.others-row {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.profile-wrapper,
.education-wrapper,
.experience-wrapper,
.others-wrapper {
  width: 92%;
}

.experience-duration {
  display: inline;
}

hr {
  width: 100%;
}

.personal-details {
  font-size: 0.9rem;
}

.dotted-line {
  margin-top: 5px;
  border-top: 1px dotted black;
}

.details {
  font-size: 0.8rem;
}

.icon {
  width: 17px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0 0 3px;
  gap: 2px;
  align-items: center;
}

svg {
  width: 20px;
  height: 20px;
}

.additionals-input {
  width: 150px;
}

.edit-button {
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-size: 0.75rem;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
}

.edit-button:hover {
  background-color: white;
  transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
  .display-column {
    margin: 20px 20px;
  }

  .general-inputs,
  .education-inputs,
  .experience-inputs,
  .others-input {
    display: flex;
    flex-direction: column;
    width: 220px;
  }

  fieldset {
    width: 50px;
    padding: 5px 10px;
    margin: 20px;
    border-radius: 15px 25px;
  }

  .preview {
    width: 60vw;
    flex-shrink: 0;
    margin-right: 25px;
  }

  .append-wrapper {
    gap: 0px;
  }

  .input-description {
    font-size: 0.9rem;
  }

  .additionals-input {
    width: 80px;
  }
}
